:root{
  --primary-color: white;
  --secondary-color:black;
  /* --tertiary-color: #4A2445;
  --accent-color: #824c71; */
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.flex {
  display: flex;
}

.align-center {
 align-items: center
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.flex-center {
  display: flex;
  justify-content: center;
}

header {
  height: 120px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 0 50px; 
  font-weight: bold;
  display: flex;
  align-items: center;
}

.nav-item {
  margin: 0 15px;
}

.car-item {
 height: 60vh;
}

.carousel-indicators {
 opacity: 0;
}

.carousel-caption {
  background-color: black;
  width: 100vw;
  right: 0%;
  left: 0%;

}

.slide-title {
font-weight: bold ;
opacity: 100%;
}

.slide-button {
  
  font-weight: bold ;
}

.seperator {
  color: #FFA900;
  font-size: 30px ;
}
