:root{
  --primary-color: white;
  --secondary-color:black;
  --tertiary-color: #5c5c5c;
  --accent-color: #FFA900;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

p {
  padding-bottom: 2%;
  color: var(--tertiary-color)
}

a {
  text-decoration: none;
  color: var(--primary-color)
}

a:hover {
  color: var(--accent-color)
}

.flex {
  display: flex;
}

.align-center {
 align-items: center
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.flex-evenly {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.margin-auto {
 width: 100%;
  margin: auto 0
}

header {
  height: 120px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 0 50px; 
  font-weight: bold;
  display: flex;
  align-items: center;
}

.nav-item, .omni {
  margin: 0 15px;
}

.nav-item:hover {
  color: var(--accent-color);
  cursor:pointer
}

.carousel {
  margin-bottom: 8vh
}
.car-item {
 height: 60vh;
}

.carousel-indicators {
 opacity: 0;
}

.carousel-caption {
  background: rgba(0, 0, 0, 0.6);
  width: 100vw;
  right: 0%;
  left: 0%;
}

.carousel-content {
 color:var(--primary-color);
 font-size: 1.2rem
}

.slide-title {
font-weight: bold ;
opacity: 100%;
}

.btn {
  font-weight: bold ;
}

.seperator {
  color: #FFA900;
  font-size: 30px ;
}

#info-container {
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 8vh;
}

#reg-paragraph {
  font-size: 1.2rem;
}

footer {
  margin-top: 5vh;
  padding: 1rem;
  background-color: var(--secondary-color);
  color: var(--primary-color)
}

.list-header {
  font-weight: bold;
  text-decoration: underline;
}

li {
  list-style: none
}

.trademark {
  color: #FFA900;
  font-size: 1.3rem;
}

.rform {
  width: 80vw;
  padding: 5rem
}

.reg-form {
  width: 100vw
}

#passwordHelpBlock {
  color: #cb8905;
  font-style: italic;
}

.mt1 {
  margin-top: 1rem
}
.mb1 {
  margin-bottom: 1rem
}